.wrapperGrillaArticulosRelacionados {
    /*max-width: 1920px;*/
    max-width: 1440px;
    width: 100%;
    margin: auto;
    background-color: #ededed;
}
.GrillaArticulosRelacionados {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 19.8px;
    line-height: 49px;
    background: #0051ff;
    display: inline-block;
    min-width: 151px;
    text-align: center;
    color: #FFF;
    border-top-right-radius: 29px;
    border-bottom-right-radius: 29px;
    /*padding: 0 139px;*/
    /*padding: 0 8.7rem;*/
    margin: 0 0 42px;
}
.GrillaArticulos {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 30px;
    @media (min-width: 481px) {
        min-width: 433px;
    }
    @media (min-width: 989px) {
        margin: 0 15px;
    }
}